@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
body{
  /* overflow-x: hidden; */
}
:root{
  --primary-color: #228BE6;
  --primary-bg: #fff;
  --secondary-color: #3C3B4D;
}
body{
  width: 100%;
}
.App {
  /* text-align: center; */
}
a{
  color: var(--primary-color);
  text-decoration: none;
}
img, svg{
  width: 400px;
  height: 400px;
  display: block;
  margin: auto;
}
button{
  display: flex;
  align-items: center;
}
.btn{
  background: 0;
  color: var(--btn-color, --secondary-color);
  border: 2px solid var(--btn-color, --secondary-color);
  padding: 0.5em 1.5em;
  cursor: pointer;
  border-radius: 5px;
  transition: color 250ms ease, background 250ms ease;
}
.btn:active{
  transform: scale(0.96);
}
.btn:hover{
  color: white;
}
.btn:disabled{
  filter: opacity(0.5);
  background-color:#ddd;
}
.btn-blue{
  --btn-color: #228BE6;
}
.btn-grey{
  --btn-color: #3C3B4D;
}
.btn-red{
  --btn-color: #c94343;
}
.btn-blue:hover{
  background: var(--btn-color);
}
.btn-grey:hover{
  background: var(--btn-color);
}
.btn-red:hover{
  background: var(--btn-color);
}

/*********HEADER**********/
header{
  height: 10vh;
  display: flex;
  align-items: center;
}
.title{
  color: var(--secondary-color);
}
nav{
  width: 85%;
  /* background-color: brown; */
  margin: auto;
  display: flex;
  justify-content: space-between;
}
nav ul{
  list-style: none;
  display: flex;
}
.nav-link{
  margin-left: 1em;
  font-size: 0.9em;
}
.login{
  color: #228BE6;
}
.login:hover{
  text-decoration: underline;
  cursor: pointer;
}
.signup{
  border-radius: 25px;
}
.user-profile-icon{
  cursor: pointer;
  transition: all 200ms ease;
  border-radius: 100vw;
  padding: 0.2em 0.4em;
}
.user-profile-icon:hover{
  transform: translateY(-1px);
  background: #ededed;
  
}
.login-form{
  /* margin: 1em; */
  /* border: 2px solid red; */
}

.login-form-title{
  text-align: center;
  margin-bottom: 1em;
  color: #3C3B4D;
}
.login-form input{
  margin: auto;
  width: 90%;
  max-width: 50em;
  height: 2.5em;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0 1em;
  margin-bottom: 1em;
}
.login-form label{
  font-size: 0.85rem;
  display: block;
}
.login-submit{
  margin: auto;
}
.popper{
  /* border: 2px solid red !important; */
  color: #3C3B4D;
}
.popper *{
  text-align: center;
}
.popper span{
  font-size: 0.8rem;
  color: #666;
}
.popper .btn{
  margin: 1em auto;
}
#error{
  color: red;
}
/***********************/

/*********HOME**********/
.home{
  height: 85vh;
  width: 85%;
  margin: auto;
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: space-between;
}
.home > * {
  display: flex;
  align-self: flex-end;
  align-items: center;
}
.intro{
  display: flex;
  justify-content: space-between;
  /* border: 2px solid black; */
  padding: 0 2em;
}
.main-phrase{
  font-size: 3.5rem;
  color: var(--secondary-color);
}
.main-phrase > span{
  color: #6C63FF;
}
.description{
  flex: 1.5;
}
.home-img{
  /* border: 2px solid green; */
  height: 100%;
  flex: 1;
}
.home-form{
  /* flex: 1; */
  /* height: 90%; */
  /* border: 2px solid green; */
}
/***********************/
.shortner, .form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shortner{
  width: 90%;
  height: 30vh;
  margin: auto;
  border-radius: 5px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.form{
  /* border: 1px solid black; */
  width: 100%;
}
.form input{
  width: 80%;
  max-width: 50em;
  height: 2.5em;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0 1em;
  margin-bottom: 1em;
}
#submit{
  margin: 1em 0;
  padding: 0.5em 2.3em;
  font-size: 1.02em
}
.result-div{
  width: 40%;
  display: flex;
  justify-content: center;
  /* border: 2px solid red; */
}
.copy{
  display: inline-block;
  padding: 0.3em 1em;
  margin: 0 0.7em;
}

@media (max-width: 850px) {
  .home{
    flex-direction: column-reverse;
    width: 95%;
    /* border: 2px solid green; */
  }
  .home > *{
    /* width: 95%; */
    /* flex: 1; */
    /* border: 2px solid green; */
    /* margin: auto; */
    text-align: center;
  }
  .main-phrase{
    font-size: 2.5rem;
  }
  .home-form{
    align-self: flex-start;
    width: 95%;
  }
  .shortner{
    margin-top: 2em;
    /* border: 2px solid green; */
  }
  .home-img{
    height: auto;
  }
  img,svg{
    width: 180px;
    height: 180px;
    /* border: 2px solid green; */
  }
  .intro{
    flex-direction: column-reverse;
  }
}

.stats-btn{
  margin: 1.5em auto;
}
.no-prev{
  /* border: 2px solid red; */
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 1em auto;
}
.stats-table{
  width: 80%;
  margin: 1em auto;
  color: var(--secondary-color);
  border: 1px solid #3C3B4D;
  border-collapse: collapse;
  /* height: 60vh; */
  overflow-x: scroll;
  /* background-color: red; */
}
th{
  border: 1px solid #3C3B4D;
  color: var(--secondary-color);
}
td{
  padding: 1em;
  font-size: 0.85rem;
  border: 1px solid green;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}


@media (max-width: 400px) {
  html{
    font-size: 15px;
  }
  body{
    font-size: 0.8rem;
  }
  .main-phrase{
    font-size: 2rem;
  }
  
}